<h2 class="text-center" style="color:indigo">WE HAVE YOUNG AS WELL AS EXPERIENCED DOCS TO HELP YOU</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>id</th>
            <th>name</th>
            <th>age</th>
            <th>Gender</th>
            <th>Specialist</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let doctor of doctors"> 
            <td>{{doctor.id}}</td>
            <td>{{doctor.name}}</td>
            <td>{{doctor.age}}</td>
            <td>
                {{doctor.gender}}
            </td>
            <td>{{doctor.specialist}}</td>
        </tr>
    </tbody>
</table>